@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
    <div>
        <!-- Тут мы юзаем наш ViewBag -->
        <p>@ViewBag.Greeting World (from the view)</p>
        <p>У нас намечается ахуенная вечеринка!!!.<br />
        (Что то надо сделать)
        </p>
        <a asp-action="RsvpForm">RSVP NOW</a>
    </div>
</body>
</html>

